.map-and-photo .image-gallery {
    width: 100%;
    min-height: 50vh;
    font-size: smaller;
    overflow: hidden;
    margin-bottom: 20px;
}

.map-and-photo .image-gallery-slide{
    width: 100%;
    min-height:30vh;
    overflow: hidden;
}
.map-and-photo .image-gallery-slide img {
    width: 90%;
    object-fit:contain;
    height: 50vh;
}
.map-and-photo .image-gallery-left-nav .image-gallery-svg, .map-and-photo .image-gallery-right-nav .image-gallery-svg{
    height: 82px !important;
    width: 46px !important;
}

.fullscreen {
    width: 100% !important;
    top:25%;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.5s ease-in-out
}
.map-and-photo .gallery{
    width: 100%;
    height: 100%;
}

.map-and-photo h4{
    font-size: 1vw;
    flex: 1 0;
    margin: 0;
}
.map-and-photo p{
    font-size:0.9vw;
    overflow-y: visible;
    flex: 1 0;
    margin:0;
}
.map-and-photo .place{
    font-size:0.8vw;
    font-style:italic;
    overflow-y: visible;
    flex: 1 0 auto;
}

.small-map{
    width: 100%;
    height: 100%;
}
.map-and-photo td {
    padding: 2px;
}

@media only screen and (max-width: 500px){
    .map-and-photo .image-gallery-slide-wrapper {
        width: 100%;
    }
    .map-and-photo .image-gallery-thumbnails-wrapper{
        display:none;
    }
}